<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'/>
        <link rel='stylesheet' href='{{ asset('/build/vertical-timeline-reset.css') }}' media='screen'/>
        <link rel='stylesheet' href='{{ asset('/build/vertical-timeline-style.css') }}' media='screen'/>
        <link rel='stylesheet' href='{{ asset('/build/bootstrap.css') }}' media='screen'/>
        <link rel='stylesheet' href='{{ asset('/build/fa.css') }}' media='screen'/>
        <link rel='stylesheet' href='{{ asset('/build/base.css') }}' media='screen'/>
        {% block css %}{% endblock %}
        <script src='{{ asset('/build/jquery.min.js') }}'></script>
        <script src='{{ asset('/build/vertical-timeline-js.js') }}'></script>
        {% block js %}{% endblock %}
        <title>{% block title %}Bienvenue !{% endblock %}</title>
    </head>
    <body>
    {% block nav %}
        <nav class='navbar navbar-expand navbar-blue mb-5'>
            <div class='collapse navbar-collapse'>
                <div class='navbar-nav'>
                    <a class='nav-item nav-link{{ app.request.pathInfo in [path('homepage')] ? ' active' }}'
                       href='{{ path('homepage') }}'>Expériences</a>
                    <a class='nav-item nav-link{{ app.request.pathInfo == path('formation') ? ' active' }}'
                       href='{{ path('formation') }}'>Formations</a>
                    <a class='nav-item nav-link{{ app.request.pathInfo == path('competence') ? ' active' }}'
                       href='{{ path('competence') }}'>Compétences</a>
                    <a class='nav-item nav-link{{ app.request.pathInfo == path('personal') ? ' active' }}'
                       href='{{ path('personal') }}'>Personnel</a>
                </div>
            </div>
            <div class='pull-right hidden-xs'>
                <span class='navbar-brand'>{% block navbar_brand %}CV{% endblock %}</span>
            </div>
        </nav>
    {% endblock %}
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-sm-9'>
                {% block content %}{% endblock %}
            </div>
            <div class='col-sm-3'>
                <div class='card mb-5'>
                    <div class='card-header'>Mes infos</div>
                    <div class='card-body'>
                        <div class='card-title mb-4'><i class='fa fa-phone'></i> +33 (0)6.51.45.41.33</div>
                        <div class='card-title mb-4'>
                            <a href='mailto:adrien.chaumarat@gmail.com' target=_blank>
                                <i class='fa fa-envelope'></i> adrien.chaumarat@gmail.com
                            </a>
                        </div>
                        <div class='card-title mb-4'>
                            <a href=''><i class='fa fa-map-marker'></i> 43 Av Paris, REIMS</a>
                        </div>
                        <div class='card-title mb-4'>
                            <i class='fa fa-info-circle'></i> Né le 10 janvier 1989
                        </div>
                    </div>
                </div>
                <div class='card mb-5'>
                    <div class='card-header'>Réseaux</div>
                    <div class='card-body'>
                        <div class='card-title mb-4'>
                            <a href='https://fr.linkedin.com/in/adrienchaumarat' target=_blank>
                                <i class='fa fa-linkedin'></i> LinkedIn
                            </a>
                        </div>
                        <div class='card-title mb-4'>
                            <a href='https://fr.viadeo.com/fr/profile/adrien.chaumarat' target=_blank>
                                <i class='fa fa-viadeo'></i> Viadeo
                            </a>
                        </div>
                    </div>
                </div>
                <div class='card mb-5'>
                    <div class='card-header'>Contact</div>
                    <div class='card-body'>
                        <div class='card-title mb-4'>
                            <a href='' data-toggle='modal'>
                                <i class='fa fa-arrow-circle-right'></i> Me contacter
                            </a>
                        </div>
                        <div class='card-title mb-4'>
                            <a href=''>
                                <i class='fa fa-arrow-circle-right'></i> Télécharger le CV
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block js_end %}{% endblock %}
    </body>
</html>