{% extends 'base.html.twig' %}

{% macro showWorklines(worklines) %}
    {% if worklines is iterable and worklines | length %}
        {% import _self as macros %}
            {% for workline in worklines %}
                {% set children = workline.worklines %}
                <div class='mb-3'>
                    {{ workline.label }}
                    {% if children is iterable and children | length %}
                        <div class='ml-5 mt-3'>{{ macros.showWorklines(children) }}</div>
                    {% endif %}
                </div>
            {% endfor %}
    {% endif %}
{% endmacro %}

{% block navbar_brand -%}
    Expérience
{%- endblock %}

{% block content %}
    {% import _self as macros %}
    {% if companies is defined %}
        <div class='cd-timeline js-cd-timeline'>
            <div class="cd-timeline__container">
                {% for company in companies %}
                    <div class='cd-timeline__block js-cd-block'>
                        <div class='cd-timeline__img cd-timeline__img--picture js-cd-img'>
                            <img src='{{ company.logo }}'/>
                        </div>
                        <div class='cd-timeline__content js-cd-content'>
                            <h2 class='mb-4'>{{ company }}</h2>
                            {% for work in company.worksSorted %}
                                <div class='card mb-4'>
                                    <div class='card-body'>
                                        <h3 class='card-title mb-4'>
                                            {{ work.jobName }}
                                            <span class='badge pull-right'>
                                                {% if work.duration.y %}
                                                    {{ work.duration.y }}
                                                    {{ work.duration.y > 1 ? 'ans' : 'an' }}
                                                {% endif %}
                                                {% set months = work.duration.m + (work.duration.d > 15 ? 1 : 0) %}
                                                {{ months ? months : '< 1' }} mois
                                            </span>
                                        </h3>
                                        <div class='card-text'>
                                            {{ macros.showWorklines(work.workLinesFirstLevel) }}
                                        </div>
                                    </div>
                                </div>
                                {% if loop.last %}
                                    <span class='cd-timeline__date'>{{ work.from | date('M y') }}</span>
                                {% endif %}
                            {% endfor %}
                            <a href='{{ company.url }}' target=_blank class='cd-timeline__read-more fa fa-link'></a>
                            <a href='{{ company.url }}' target=_blank class='cd-timeline__read-more fa fa-file-text'></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}